.main {
    font-family: 'Titillium Web';
    font-style: unset;
    font-size: 18px;
    color: white;
}
/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
    height: 50px;
    /* margin-bottom: 0;
    border-radius: 0; */
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.navbar-brand {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

/* Add a gray background color and some padding to the footer */
footer {
    background-color: #f2f2f2;
    padding: 5px;
    /* position: fixed; */
    left: 0;
    bottom: 0;
    width: 100%;
}

body {
    background-image: url("../img/bg.jpg");
    /* background-position: center; */
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.mainrow {
    margin-top: 12%;
    margin-bottom: 12%;
    
}

.btn {
    width: 100%;
}

.greeting {
    text-align: center; 
    font-weight: bolder;
    margin-bottom: 0px;
}

.hello {
    font-size: 50px;
}

.subheading {
    font-size: 35px;
}

.bio {
    text-align: center;
}

@media only screen and (max-width: 572px) {
    .mainrow {
        margin-top: 0%;
        margin-bottom: 0%;
        
    }
}